body {
    text-align: center;
    color: green;
    font-size: 1.2em;
}
  
.display-none {
    display: none;
}
  
.recording {
    margin: 8px auto;
    font-weight: bold;
    width: fit-content;
}
  
video {
    background-color: black;
    display: block;
    margin: 6px auto;
    width: 480px;
    height: 320px;
}
  
audio {
    display: block;
    margin: 6px auto;
}
  
a {
    color: green;
}